<h1>Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %></li>
  <% end %>
</ul>


<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, tag_post_path(post.tag_id, post) %></li>
  <% end %>
</ul>


<%= link_to "New Tag", new_tag_path %>
